@import './global/variables';

@import './global/extends';
@import './componentes/button';

.cabecera {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
header {
  background-color: azure;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  gap: 10px;
  flex-wrap: wrap;
}
.imagenheader {
  background: url(./global/assets/header.webp) no-repeat center;
  background-size: cover;
  align-items: center;
  min-height: 60px;
  .parpadeo {
    animation: parpadeo 1s infinite;
  }
  h2 {
    text-align: center;
    color: $cuarto-color;
    text-shadow: 10px;
    font-size: xx-large;

    @keyframes parpadeo {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
