%primaryButton {
  cursor: pointer;
  border: none;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid $primary-color;
  color: $tercer-color;
  text-decoration: none;
  background: $primary-color;
  border-radius: 10px;
  font-size: large;
  flex-grow: unset;
}
